/* agregar-producto.component.css */
.p-grid {
    padding: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  /* Estilo para el botón de "Agregar Producto" */
  .p-button-success {
    background-color: #00ff3c;
    color: #b6adad;
  }
  