/* mostrar-distribuciones.component.css */
.p-grid {
    padding: 20px;
  }
  
  /* Estilo para la cabecera de la tabla */
  th {
    background-color: rgb(0, 53, 94);
    color: #b6adad;
    font-weight: bold;
    text-align: left;
  }
  
  /* Estilo para las filas impares */
  tr:nth-child(odd) {
    background-color: #b6adad;
  }
  
  /* Estilo al pasar el ratón sobre las filas */
  tr:hover {
    background-color: #b6adad;
  }  